{% extends 'catalog/base.html'%}
{% load mediapath_tag %}


{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="/blog/">Блог</a>
    </nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ object.title }}</h1>
    <img src="{% mediapath_tag object.image %}" width="200"/>
</div>

<div class="container">
    <div class="row text-center">
        <p class="lead">{{ object.content }}</p>
    </div>

    <div class="row text-center">
        <p class="lead">Опубликован: {{ object.created_at }}</p>
    </div>

    <div class="row text-center">
        <p class="lead">Просмотров: {{ object.views_count }}</p>
    </div>

<nav class="ms-5">
    <a class="p-2 btn btn-outline-primary m-2" href="/delete_post/{{ object.slug }}">Удалить</a>
    <a class="p-2 btn btn-outline-primary m-2" href="/update_post/{{ object.slug }}/">Редактировать</a>
</nav>


</div>
{% endblock %}