{% extends 'catalog/base.html'%}
{% load mediapath_tag %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title">Дата публикации<br> {{ object.created_at }}</h5>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Просмотров: {{ object.views_count }}</li>
                            <img src="{% mediapath_tag object.image %}" width="200"/>

                        </ul>
                        <form action="/blog/{{ object.slug }}/">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Подробнее</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/create_post/">Новая запись</a>
    </nav>

    </div>
{% endblock %}