{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            {% if object %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h1 class="my-0 font-weight-normal">{{ object.product_name.title }}</h1>
                        </div>

                        <img src="{% mediapath_tag object.img %}" />
                        <div class="card-body">


                            <li>Категория: <a href="#" class="btn btn-secondary my-0">{{ object.category_name }}</a></li>
                            <li>Описание: {{ object.description|slice:':100' }}</li>
                            <li>Дата публикации: {{ object.creation_date|date:'d.m.Y' }}</li>
                            <li>Владелец: {{ object.product_owner|default:"Не указан" }}</li>
                            <h3>Стоимость: {{ object.purchase_price }}</h3>

                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}