{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h1 class="my-0 font-weight-normal">{{ object.product_name.title }}</h1>
                        </div>

                        <img src="{% mediapath_tag object.img %}" />
                        <div class="card-body">
                            <div class="btn-group">
                                <a href="{{ object.get_absolute_url }}" class="btn btn-secondary my-0">{{ object.category_name }}</a>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'catalog:card_product' object.id %}" class="btn btn-primary my-2">Подробнее о продукте</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}